# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yaml and/or the recipe/meta.yaml.

language: objective-c

env:
  matrix:
    
    - CONDA_PERL=5.20.3.1
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "gUik4LI814x5FJcFEVzOLV79Q/v8DYVBqN1m95KsjZlOrrfm24ClQ7v7cWIU0EbBZNCE4+X4+xafd/D88jkgWBHdldE8LDh500mMUYCCsmke/Y+GSiiYkkWWf/TzcFNkpkI90RPNYnhBY4ZQmMO3fRPuQCFSoqnUZnfE5AR/IWjR+E2KflZ/eHGeMgrmlEgwgRqhhUZ0IhMUPliG1/AqDL26BpKYJolGREg1/hYWjRm0xuGtNIFy/NjR/Ljk53HA1PUiba1VCDZNPdj8ypIKy7raM7WL0lovNBZaI9CCU/0Y2gN1549sqMLOFy2sHn0EbI89V9vMLCGNRjKACU3yIbwlE6ph95zkr/Ug5Dhj8EEpPJCu1Zh2R70yvppKIzhUKs9JHwpr284Hw/B76AXMQN/ekbDLJHH8iQBxeI24DPjvybCEJpAqPsN45RzUZSGtrqPwhAghQYgJm2K1N/ekAlqCrf04hi7UY1ESxr9Mf1TucARVKaUIQFSsDzQ4xI19j/gDAuAx8m/d8H3Ls9Vb1l9etO8u5oR5dMF6jdRKAXHF5UwQsqbkCuu5BDb+lncRUR9DUw7R1w2zn03B5PaspOgVqkhNpaLe4XHaq8XpOJgdLgKYXaK4lZqfQ63ZZIGLxGkBQYblpYvAAeu1mZuskPxR95mim+s5Y15TQuNzFVY="


before_install:
    # Remove homebrew.
    - brew remove --force $(brew list)
    - brew cleanup -s
    - rm -rf $(brew --cache)

install:
    - |
      MINICONDA_URL="http://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      export PATH=/Users/travis/miniconda3/bin:$PATH

      conda update --yes conda
      conda install --yes conda-build=1.20.0 jinja2 anaconda-client
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      

script:
  - conda build ./recipe

after_success:

  - ./ci_support/upload_or_check_non_existence.py ./recipe conda-forge --channel=main
